<p><strong>From the “aww yeahh” moments to the “ohh SHITT” moments, I’m sharing everything on my journey through problem/solution fit, to product/market fit, to scaling.  I’m going to learn a lot.  So will you.</strong></p>

<div id="mc_embed_signup">
  <form action="//foundersgambit.us8.list-manage.com/subscribe/post?u=b4e508f96614c768076fe0be7&amp;id=2f37c405e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required="" style="margin-bottom: 15px; max-width: 300px; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px;" />
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_b4e508f96614c768076fe0be7_2f37c405e7" tabindex="-1" value="" /></div>
    <div class="clear"><input type="submit" value="Send me weekly startup lessons!" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: #eee; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px;" /></div>
    </div>
  </form>
</div>
